@import "tailwindcss";
html,
body {
  scroll-behavior: smooth;
}
#HomeImage {
  position: relative;
  animation: animate 1s linear infinite alternate;
}
.myunderline {
  position: relative;
  width: fit-content;
}
.myunderline::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 3px;
  background-color: currentColor;
  width: 0%;
  transition: all ease 0.3s;
}
.myunderline:hover::after {
  width: 100%;
}
@keyframes animate {
  0% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}
#imgv-k{
  filter:drop-shadow(0px 0px 10px rgb(255,255,255)) brightness(1.1)
}